.Menu {
    margin: 0;
    padding: 0;
    list-style: none;   
}

.Menu li {
    display: inline-block;
    padding-right: 10px;
}

.svg {
    width: 600px;
    width: 800px;
    height: 100%;
    padding: 50px;
}
  
.line {
    stroke-width: 1;
    stroke: #3c3c3c;
}
  
#wave {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #56acf4;
}
.content{
    flex-grow: 1;
    padding-top:50px;
    padding-right:100px;
    padding-left:18%;
}
.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.containerBottom{

    display:none;
}
.papper{
    padding: 40px;
    background:none;
    box-shadow: 5px 5px 37px 15px rgba(84,84,84,0.35);
    background: transparent;
}
.botonrespaldo{
    display:none;
    
}
.buttonBackup:hover{
    background:#004d40;
}
.firstContainer{
    background: honeydew;
    padding:30px;
    margin:10px;
}
.firstContainer h3{
    font-size: 70px;
    color:rgb(34, 34, 34);
    text-align: left;
}
.animation{
    box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.75);

}
.text-movil{
    display:none;
}
@media only screen and (min-width: 600px) {
    .bottom{
        display:block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(46, 46, 46);
        color: white;
        text-align: center;
    }
   
    
    
  }
@media only screen and (max-width: 600px) {

    .content {
        padding-top:55px;
        padding-right:0px;
        padding-left:0%;
    }

    
    .botonrespaldo{
        display:block;
    }
    .containerBottom{
        display:block;
    }
    .backupIntro{
        margin-right:20px;
    }
    .animation{
        display:none;
    }
    .firstContainer h3{
        font-size: 30px;
        color:rgb(34, 34, 34);
        text-align: left;
    }
    .text-movil{
        display:block;
        text-align:left;

    }
    .text-desktop{
        display:none;
    }
  }
  @media only screen and (max-width: 730px) {
    .content {
        padding-top:55px;
        padding-right:0px;
        padding-left:0%;
    }
   
    .papper{ display:none;}
    .botonrespaldo{display:block}

    
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .content {
        padding-top:55px;
        padding-right:0px;
        padding-left:0%;
    }
  
    .containerBottom{
        display:block;
    }
    
  }
  @media (min-width: 600px) and (max-width: 768px) {
    .content {
        padding-top:55px;
        padding-right:0px;
        padding-left:0%;
    }
    
    .containerBottom{
        display:block;
    }
    
  }
