.drawer{
    flexShrink: 0;
    background:'#00796b';
    
}
.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .drawer {
      display:none;
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
  
    .drawer{
        display:none;
    }
    
  }